@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 260 20% 5%;
    --foreground: 0 0% 98%;
    --card: 260 20% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 260 20% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 276 100% 70%;
    --primary-foreground: 276 85% 98%;
    --secondary: 260 20% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 260 20% 15%;
    --muted-foreground: 260 5% 64.9%;
    --accent: 328 100% 69%;
    --accent-foreground: 328 85% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 20% 20%;
    --input: 260 20% 20%;
    --ring: 276 100% 70%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
    box-sizing: border-box;
  }
  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
